[submodule "skills/deepwiki"]
	path = skills/deepwiki
	url = https://github.com/Dwsy/deepwiki-skills
[submodule "skills/knowledge-base"]
	path = skills/knowledge-base
	url = https://github.com/Dwsy/knowledge-base-skill
[submodule "skills/mcp-to-skill"]
	path = skills/mcp-to-skill
	url = https://github.com/Dwsy/mcp-to-skill
[submodule "skills/codemap"]
	path = skills/codemap
	url = https://github.com/Dwsy/codemap
[submodule "skills/ace-tool"]
	path = skills/ace-tool
	url = https://github.com/Dwsy/ace-tool-skill


[submodule "skills/pi-extensions"]
	path = skills/pi-extensions
	url = https://github.com/dwsy/pi-extensions-skill.git

[submodule "extensions/pi-command-center"]
	path = extensions/pi-command-center
	url = https://github.com/w-winter/dot314.git
[submodule "extensions/pi-context"]
	path = extensions/pi-context
	url = https://github.com/Dwsy/pi-context.git

[submodule "extensions/pi-files-widget"]
	path = extensions/pi-files-widget
	url = https://github.com/tmustier/pi-extensions.git

[submodule "extensions/pi-super-curl"]
	path = extensions/pi-super-curl
	url = https://github.com/Graffioh/pi-super-curl.git

[submodule "role-persona"]
	path = role-persona
	url = https://github.com/Dwsy/role-persona.git
[submodule "extensions/pi-provider-trace"]
	path = extensions/pi-provider-trace
	url = https://github.com/Dwsy/pi-provider-trace.git
[submodule "extensions/fast-context-mcp"]
	path = extensions/fast-context-mcp
	url = https://github.com/SammySnake-d/fast-context-mcp.git
[submodule "extensions/kilo-pi-provider"]
	path = extensions/kilo-pi-provider
	url = https://github.com/mrexodia/kilo-pi-provider.git
[submodule "extensions/show-skills"]
	path = extensions/show-skills
	url = https://github.com/Dwsy/pi-skills-explorer.git
[submodule "memex-compare"]
	path = memex-compare
	url = https://github.com/iamtouchskyer/memex.git
[submodule "pi-model-selector-x"]
	path = pi-model-selector-x
	url = https://github.com/Dwsy/pi-model-selector-x.git
