[submodule "skills/deepwiki"]
	path = skills/deepwiki
	url = https://github.com/Dwsy/deepwiki-skills
[submodule "skills/knowledge-base"]
	path = skills/knowledge-base
	url = https://github.com/Dwsy/knowledge-base-skill
[submodule "skills/mcp-to-skill"]
	path = skills/mcp-to-skill
	url = https://github.com/Dwsy/mcp-to-skill
[submodule "skills/codemap"]
	path = skills/codemap
	url = https://github.com/Dwsy/codemap
[submodule "skills/ace-tool"]
	path = skills/ace-tool
	url = https://github.com/Dwsy/ace-tool-skill
[submodule "extensions/pi-interactive-shell"]
	path = extensions/pi-interactive-shell
	url = https://github.com/nicobailon/pi-interactive-shell.git
[submodule "extensions/pi-subagents"]
	path = extensions/pi-subagents
	url = https://github.com/nicobailon/pi-subagents.git
[submodule "skills/pi-extensions"]
	path = skills/pi-extensions
	url = https://github.com/dwsy/pi-extensions-skill.git
